<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>sql测试</title>-->
<!--</head>-->
<!--<body>-->
<!--<div id="div0" align="center" style="background-color: lightpink;">-->
<!--    <form action="" method="">-->


<!--        <table border="0" cellspacing="" cellpadding="">-->
<!--            <tr>-->
<!--                <th width="600px" height="100px"><font size="10px">餐饮调查</th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>-->
<!--                    <p>-->
<!--                        &nbsp;&nbsp;各位调查人士，大家好！<br>-->
<!--                        &nbsp;&nbsp;为了更好的了解人们对餐饮的看法，特制定本卷。希望得到你的配合，请认真阅读并回答以下问题，您的回答将直接影响本调查的可信度和有效性，真诚感谢您的支持，祝您天天愉快，谢谢。-->
<!--                    </p>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->
<!--</div>-->


<!--<div align="center" style="margin-top: 40px;">-->
<!--    &lt;!&ndash;    <form name="form1" method="POST">&ndash;&gt;-->
<!--    &lt;!&ndash;        菜品打分 <input type="text" placeholder="id" name="id" value="{{ var1  }}">&ndash;&gt;-->
<!--    &lt;!&ndash;        name<input type="text" placeholder="name" name="name" value="{{ var2  }}">&ndash;&gt;-->
<!--    &lt;!&ndash;        age<input type="text" placeholder="age" name="age" value="{{ var3  }}">&ndash;&gt;-->
<!--    &lt;!&ndash;        sex<input type="text" placeholder="sex" name="sex" value="{{ var4  }}">&ndash;&gt;-->
<!--    &lt;!&ndash;        <input type="submit" value="提交" οnclick="">&ndash;&gt;-->
<!--    &lt;!&ndash;    </form>&ndash;&gt;-->
<!--    <form action="http://localhost:8002/result" method="POST">-->
<!--        <div>-->
<!--            <p>B000HZEHL6</p>-->
<!--            <p>图片</p>-->
<!--            <p>评分<input type="text" name="B000HZEHL6"/></p>-->
<!--            <br>-->
<!--            <br>-->
<!--            <br>-->
<!--        </div>-->
<!--        <div>-->
<!--            <p>B000I5Q0ZG</p>-->
<!--            <p>图片</p>-->
<!--            <p>评分<input type="text" name="B000I5Q0ZG"/></p>-->
<!--        </div>-->
<!--        <p><input type="submit" value="submit"/></p>-->
<!--    </form>-->
<!--</div>-->
<!--{% if message %}-->
<!--<p style="color:red">{{ message }}</p>-->
<!--{% endif %}-->
<!--</body>-->
<!--l>-->



<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#;-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sql测试</title>
</head>
<body>
<div align="center" style="margin-top: 40px;">
    <form name="form1"     method="POST">
        mealId =<input type="text" placeholder="mealId" name="mealId" value="{{ var1  }}">
        mealScore=<input type="text" placeholder="mealScore" name="mealScore" value="{{ var2  }}">
            <input type="submit" value="提交" οnclick="">
    </form>



</div>
{% if message %}
    <p style="color:red">{{ message }}</p>
    {% endif %}
</body>