<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>餐饮调查问卷</title>
	</head>
	<style type="text/css">
	</style>
	<script type="text/javascript">
	</script>
	<body>
		
		<div id="div0" align="center" style="background-color: lightpink;">
			<form action="" method="">
				
			
			<table border="0" cellspacing="" cellpadding="" >
				<tr>
					<th width="600px" height="100px"><font size="10px">餐饮调查</th>
				</tr>
				<tr><td>
					<p>
						&nbsp;&nbsp;各位调查人士，大家好！<br>
						&nbsp;&nbsp;为了更好的了解人们对餐饮的看法，特制定本卷。希望得到你的配合，请认真阅读并回答以下问题，您的回答将直接影响本调查的可信度和有效性，真诚感谢您的支持，祝您天天愉快，谢谢。
					</p>
				</td></tr>
				<tr>
					<td>
						<p>选择菜品:</p>
						<img width=300 height=300 src="c1.jpg" name="x1">
						<SELECT onChange="document.x1.src=options[selectedIndex].value"> 	
							<option value="c1.jpg">菜品1</option> 
							<option value="c2.jpg">菜品2</option> 	
						</SELECT> 
						
					</td>
					
				</tr>
				
				<tr>
					<td>
						<input type="submit" name="" id="" value="提交" />
						<input type="reset" name="" id="" value="重置" />
					</td>
				</tr>
			</table>
			</form>
		</div>
	</body>
</html>
